body {
  margin: 0;
  background: #cf4545;
  color: white;
  font-family: Arial;
  text-align: center;
}

#titulo {
  font-size: 2vw;
}

#score {
  font-size: 1vw;
}

canvas {
  display: block;
  margin: auto;
}